doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    title PDF Generator
    style.
      body {
        font-family: Helvetica;
      }
      h1 {
        font-size: 36px;
        border-bottom: 1px solid black;
      }
      h3 {
        font-size: 16px;
      }
  body
    h1 Monthly report
    h3 #{month} - #{year}
    #body Here comes the values

